REDIS_IMAGE=redis:7-alpine
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
JOB_QUEUE_NAME=job

API_PORT=8000
FRONTEND_PORT=3000
API_URL=http://api:8000
PORT=3000

COMPOSE_NETWORK_NAME=jobnet
COMPOSE_PUBLIC_NETWORK_NAME=jobnet-public

REDIS_MEM_LIMIT=256m
REDIS_CPUS=0.50

API_MEM_LIMIT=256m
API_CPUS=0.50

WORKER_MEM_LIMIT=256m
WORKER_CPUS=0.50

FRONTEND_MEM_LIMIT=256m
FRONTEND_CPUS=0.50
